@model MusicStore.ViewModels.ShoppingCartViewModel

<div class="row checkoutForm">
    <h2>Your shopping cart</h2>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Selected amount</th>
                <th>Album</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.ShoppingCart.ShoppingCartItem)
            {
<tr>
    <td class="text-center">@line.Price</td>
    <td class="text-left">@line.Album.Title</td>
    <td class="text-right">@line.Album.Price.ToString("c")</td>
    <td class="text-right">
        @((line.Price * line.Album.Price).ToString("c"))
    </td>
    <td class="text-center"><a class="btn btn-danger text-danger " asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-Id="@line.Album.AlbumId"></a></td>
</tr>            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.ShoppingCartTotal.ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-right">
        <div class="btn-group ">
            <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Check out</a>

        </div>
    </div>
</div>
